body{
    padding: 50px;
    background-color: #66ccff;
    font-family: sans-serif;
}

#container{
    display: flex;
    justify-content: flex;
}

button{
    background-color: rgb(68, 68, 255);
    height: 45px;
    width: 50px;
    margin-left: 10px;
    color: white;
    border-style: none;

}